<!DOCTYPE html>
<html>
  <head>
    <title>OauthPlayground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <% if account_signed_in? %>
      <p>
        <%= link_to('Logout', destroy_account_session_path) %>
      </p>
    <% else %>
      <p>
        <%= link_to('Login', new_account_session_path)  %>
      </p>
    <% end %>
  </body>
</html>
